<template>
    <div class="background-container">
        <img src="../assets/fondo.png" alt="Fondo" class="background-image">
    </div>
</template>
  
<style>
.background-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.background-image {
    max-width: 100%;
    max-height: 100%;
}
</style>
  