<template>
    <div>
        <div class="fondo">
            <div class="container"></div>
            <div class="curve"></div>
        </div>
        <div class="form">
            <div class="">
                <q-card bordered class="my-card q-pa-md">
                    <div class="q-pb-lg">
                        <label for="number">Número</label>
                        <q-input outlined v-model="number_phone" id="number"> </q-input>
                    </div>

                    <div class="q-pb-lg">
                        <label for="password">Contraseña</label>
                        <q-input v-model="password" outlined :type="isPwd ? 'password' : 'text'">
                            <template v-slot:append>
                                <q-icon :name="isPwd ? 'visibility_off' : 'visibility'" class="cursor-pointer"
                                    @click="isPwd = !isPwd" />
                            </template>
                        </q-input>
                    </div>

                    <div class="q-pb-lg">
                        <q-btn color="negative " class="largo" size="md" label="Iniciar sesion" unelevated rounded
                            @click="IniciarSesion">


                        </q-btn>
                    </div>
                    <div class="q-pb-lg  registrate">
                        <label>¿No tienes cuenta? <strong><a href="url">Registrate aqui</a></strong></label>
                    </div>
                </q-card>
            </div>



        </div>

    </div>
</template>
  
<script>
import { defineComponent, ref, computed } from 'vue';
import { useStore } from 'vuex'
import { setCssVar, useQuasar } from 'quasar'
import mapHelper from '../store/common/map-helper';
import { HttpStatusCode } from 'axios';

setCssVar('negative', '#008069')

export default defineComponent({
    name: "LoginPage",
    setup() {
        const $q = useQuasar()
        const number_phone = ref('9611234567');
        const password = ref('password');
        const isPwd = ref(true);
        const $store = useStore()
        const errorMessage = computed(() => $store.state.login.errorMessage);
        const statusCode = computed(() => $store.state.login.statusCode);


        async function IniciarSesion() {
            try {

                await $store.dispatch(mapHelper.mapmod.LOGIN + mapHelper.mapfn.LOGIN, {
                    cell_phone: number_phone.value,
                    password: password.value,
                    device_name: 'quasar'
                });
                if (statusCode.value == HttpStatusCode.UnprocessableEntity) {
                    showNotif(errorMessage.value);
                }
            } catch (error) {
                showNotif(error)
            }
        }
        function showNotif(mensaje) {
            $q.notify({
                message: mensaje,
                color: 'negative',
            })
        }

        return {
            number_phone,
            password,
            isPwd,
            IniciarSesion,
            errorMessage,

            // loginStatusCode: computed(() => $store.state.count),
        };
    }
});
</script>
  
<style>
.container {
    height: 70vh;
    background-color: #008069;


}

a {
    outline: none;
    text-decoration: none;
    color: #008069;
}

a:hover {

    color: #008069;
}

a:active {
    color: #008069;
}

.curve {
    /* width: 100%; */
    height: 20vh;
    background: white;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    position: relative;
    top: -20vh;
    /* position: absolute; */


    /* transform: translateY(-100px); */
}

.form {
    width: 30%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* height: 50%; */
    /* background-color: red; */
    position: absolute;
    top: 30%;
    left: 35%;
}

.largo {
    width: 100%;
}

.registrate {
    text-align: center;
}
</style>
  