<template>
    <div class="container">
        <div class="scrollable-content fondochat" :style="{ height: fondochatHeight, width: fondochatWidth }">
            <!-- Contenido de los mensajes -->
            <div v-for="item in messages" :key="item.idUser">
                <q-chat-message :text="[item.content]" :sent="messagesSend(item.user_id)" :stamp="item.created_at" id="chat"
                    :bg-color="colorMessage(item.user_id)" />
            </div>
        </div>
        <q-footer class="footer" ref="footerRef">
            <q-toolbar>
                <q-btn flat round dense icon="add" color="grey-8" class="q-my-md" />
                <div class="col-grow">
                    <q-input dense filled placeholder="Ingrese su texto" v-model="message"
                        placeholder-class="white-placeholder" @keydown="handleKeyDown">
                        <template v-slot:append>
                            <q-btn flat round dense icon="mood" class="q-mr-sm" color="grey-8" />
                        </template>
                    </q-input>
                </div>
                <q-btn flat round dense :icon="iconSendOrMic" class="q-ml-md" color="grey-8" @click="sendMessage()" />
            </q-toolbar>
        </q-footer>
    </div>
</template>
  
<script setup>
import { defineComponent, computed, ref, reactive, onMounted, watch } from 'vue'
import mapHelper from '../store/common/map-helper';
import { useQuasar } from 'quasar'
import { useStore } from 'vuex';
import { setCssVar } from 'quasar'
setCssVar('warning', '#d9fdd3')
const message = ref('');
const $store = useStore()
const $q = useQuasar()
const chat_id = computed(() => $store.state.chat.chat_id);
const messages = computed(() => $store.state.chat.messages);
defineComponent({
    name: 'MessagePage'
});

const fondochatHeight = ref('100vh');
const fondochatWidth = ref('100%');
const footerRef = ref(null);
const myIdUser = $q.localStorage.getItem("user_id")
const iconSendOrMic = computed(() => {
    return message.value.length > 0 ? 'send' : 'mic'
})
onMounted(() => {
    updateFondochatDimensions();
    scrollToBottom();
});
watch(chat_id, (newValue,) => {
    getMessages(newValue);
    chekedMessage(newValue)
    scrollToBottom();
});
window.addEventListener('resize', updateFondochatDimensions);

async function getMessages(chat_id) {
    try {

        await $store.dispatch(mapHelper.mapmod.CHAT + mapHelper.mapfn.GET_MESSAGES, chat_id);

    } catch (error) {
        console.log(error);
    }
}
async function chekedMessage(chat_id) {
    try {

        await $store.dispatch(mapHelper.mapmod.CHAT + mapHelper.mapfn.CHECKED_MESSAGE, chat_id);

    } catch (error) {
        console.log(error);
    }
}
async function getChatsList() {
    try {

        await $store.dispatch(mapHelper.mapmod.CHAT + mapHelper.mapfn.GET_CHAT_LIST);

    } catch (error) {
        console.log(error);
    }
}
function messagesSend(idUser) {

    return myIdUser == idUser ? true : false;
}
function colorMessage(idUser) {
    return myIdUser == idUser ? 'warning' : 'white';
}

async function sendMessage() {

    try {
        getMessages(chat_id.value);
        chekedMessage(chat_id.value)

        if (message.value != '') {
            await $store.dispatch(mapHelper.mapmod.CHAT + mapHelper.mapfn.SEND_MESSAGE, {
                message: message.value,
                sender_id: myIdUser,
                chat_id: chat_id.value
            });
            getChatsList();
            scrollToBottom();
            message.value = '';
        }

    } catch (error) {
        console.log(error);
    }
}

function handleKeyDown(event) {
    if (event.key === 'Enter') {
        sendMessage();
    }
}

function updateFondochatDimensions() {
    const containerWidth = window.innerWidth;
    const footerWidth = footerRef.value.offsetWidth;
    fondochatWidth.value = `calc(${containerWidth}px - ${footerWidth}px)`;
    const headerHeight = document.querySelector('.q-header')?.offsetHeight || 0;
    const footerHeight = footerRef.value.offsetHeight || 0;
    const containerHeight = window.innerHeight - headerHeight - footerHeight;
    fondochatHeight.value = `${containerHeight}px`;
}

function scrollToBottom() {
    try {
        const fondochatElement = document.querySelector('.fondochat');
        fondochatElement.scrollTop = fondochatElement.scrollHeight;
    } catch (error) {
        console.log(error);
    }
}
</script>
  
<style lang="scss" scoped>
.container {
    display: flex;
    flex-direction: column;
    height: 81.9vh;
}

.scrollable-content {
    overflow-y: auto;
    flex: 1;
}

.fondochat {
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;
    width: 100%;
    padding: 1.5rem;
    scroll-behavior: smooth;
    background-color: #EFEAE2;

    &::-webkit-scrollbar {
        background: transparent;
        border-radius: 1px;
        width: 5px;

        &:hover {
            background: transparent;
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
        }

        &:active {
            background-color: transparent;
        }
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 15px;
    }
}



.bg-brand {
    background: #a2aa33 !important;
}

#chat.q-message-text--sent {
    background: rgb(217, 253, 211) !important;
    // 0xD9FDD3
}
</style>
  