<template>
    <div class="chat-list-container">
        <q-list v-for="chat in chats" :key="chat.id">
            <q-item clickable v-ripple class="chat-item" @click="getChat(chat)">

                <q-item-section avatar>
                    <q-avatar>
                        <img :src="photo(chat.profile_picture)" alt="Avatar">
                    </q-avatar>
                </q-item-section>

                <q-item-section>
                    <q-item-label class="chat-name">{{ chat.name }}</q-item-label>
                    <q-item-label caption class="chat-last-message">{{ chat.messages[chat.messages.length -
                        1].content }}</q-item-label>
                </q-item-section>

                <q-item-section side>
                    <q-item-label class="chat-name">{{ chat.messages[chat.messages.length -
                        1].created_at }}</q-item-label>
                    <q-btn color="secondary" round size="xs" class="custom-btn" v-if="chat.NoMensjaesNoLeidos > 0">
                        <span class="custom-label">{{ chat.NoMensjaesNoLeidos }}</span>
                    </q-btn>

                </q-item-section>
            </q-item>
            <q-separator spaced inset="item" />
        </q-list>

    </div>
</template>
  
<script >
import { computed, defineComponent, onMounted } from 'vue';
import mapHelper from '../store/common/map-helper';
import { useQuasar } from 'quasar'
import { useStore } from 'vuex';
export default defineComponent({
    name: 'ChatList',
    setup() {
        const $store = useStore()
        const $q = useQuasar()
        const chats = computed(() => $store.state.chat.chatList);
        async function getChats() {
            try {
                await $store.dispatch(mapHelper.mapmod.CHAT + mapHelper.mapfn.GET_CHAT_LIST);
            } catch (error) {

            }
        }
        async function getChat(chat) {
            try {
                const sender_id = $q.localStorage.getItem("user_id")
                setName(chat.name, chat.profile_picture);
                await $store.dispatch(mapHelper.mapmod.CHAT + mapHelper.mapfn.GET_CHAT, {
                    sender_id: sender_id,
                    recipient_id: chat.recipient_id
                });
                getChats();
                openChat(true);
            } catch (error) {
                console.log(error);
            }
        }
        function changeFlag() {
            try {

                $store.dispatch(mapHelper.mapmod.USER + mapHelper.mapfn.CHANGE_FLAG);

            } catch (error) {
                console.log(error);
            }
        }
        async function setName(name, profile_picture) {
            try {
                changeFlag();
                await $store.dispatch(mapHelper.mapmod.USER + mapHelper.mapfn.SET_USER, {
                    name: name,
                    profile_picture: profile_picture
                });

            } catch (error) {
                console.log(error);
            }
        }
        function openChat(isOpen) {
            $store.dispatch(mapHelper.mapmod.USER + mapHelper.mapfn.OPEN_CHAT, isOpen);
        }
        function photo(photo) {
            return photo ? photo : 'src/assets/default_user.jpg';
        }
        onMounted(() => {
            getChats();
        });
        return {
            chats,
            photo,
            getChat,
        }
    }
})

</script>
<style scoped>
.chat-item {
    margin-bottom: 2%;
    /* Ajusta el valor según el espacio deseado */
}

.chat-name {
    margin-bottom: 1%;
    /* Ajusta el valor según el espacio deseado */
}

.chat-last-message {
    margin-top: 1%;
    /* Ajusta el valor según el espacio deseado */
}


.chat-list-container {
    height: 84%;
    overflow-y: auto;
}

.chat-list-container::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.chat-list-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.chat-list-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.chat-list-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.chat-list-container::-webkit-scrollbar-track:hover {
    background-color: transparent;
}

.custom-label {
    font-size: 1.5em;
    /* Ajusta el tamaño de la fuente según tus necesidades */
}
</style>