<template>
    <div class="chat-list-container">
        <!-- <template v-for="contact in contacts" :key="contact.id"> -->
        <q-list v-for="contact in contacts" :key="contact.id">
            <q-item-label header class="text-negative" v-if="showLetter(contact)">{{
                contact.name.charAt(0).toUpperCase()
            }}</q-item-label>
            <q-item clickable v-ripple class="chat-item" @click="getChat(contact)">

                <q-item-section avatar>
                    <q-avatar>
                        <img :src="photo(contact.profile_picture)" alt="Avatar">
                        <!-- <img src="../assets/default_user.jpg" alt="Avatar" v-if="!contact.profile_picture == null"> -->
                    </q-avatar>
                </q-item-section>

                <q-item-section>
                    <q-item-label class="chat-name">{{ contact.name }}</q-item-label>
                    <q-item-label caption class="chat-last-message">Disponible</q-item-label>
                </q-item-section>


            </q-item>
            <q-separator spaced inset="item" />
        </q-list>
        <!-- </template> -->
    </div>
</template>
<script >
import { reactive, defineComponent, onMounted, computed, ref, watch } from 'vue';
import mapHelper from '../store/common/map-helper';
import { useStore } from 'vuex';
import { useQuasar } from 'quasar'
export default defineComponent({
    name: 'ContactList',

    setup() {
        const $store = useStore()
        const $q = useQuasar()
        const contacts = computed(() => $store.state.contact.contacts);
        const letters = ref([]);
        const groupLetter = ref([]);
        async function getContacts() {

            try {

                await $store.dispatch(mapHelper.mapmod.CONTACT + mapHelper.mapfn.GET_CONTACTS);

            } catch (error) {
                console.log(error);
            }
        }
        function photo(photo) {
            return photo ? photo : 'src/assets/default_user.jpg';
        }

        async function getChat(contact) {
            try {
                const sender_id = $q.localStorage.getItem("user_id")
                setName(contact.name, contact.profile_picture);
                await $store.dispatch(mapHelper.mapmod.CHAT + mapHelper.mapfn.GET_CHAT, {
                    sender_id: sender_id,
                    recipient_id: contact.id
                });
                openChat(true);
            } catch (error) {
                console.log(error);
            }
        }
        async function setName(name, profile_picture) {
            try {
                await $store.dispatch(mapHelper.mapmod.USER + mapHelper.mapfn.SET_USER, {
                    name: name,
                    profile_picture: profile_picture
                });

            } catch (error) {
                console.log(error);
            }
        }
        function showLetter(contact) {
            let indiceActual = contacts.value.indexOf(contact)
            if (indiceActual == 0) {
                return true;
            }
            let letraPasada = contacts.value[indiceActual - 1].name.charAt(0).toUpperCase();
            let letra = contacts.value[indiceActual].name.charAt(0).toUpperCase();
            return letraPasada == letra ? false : true;
        }

        function openChat(isOpen) {
            $store.dispatch(mapHelper.mapmod.USER + mapHelper.mapfn.OPEN_CHAT, isOpen);
        }
        onMounted(() => {
            getContacts();
        });
        return {
            contacts,
            showLetter,
            getChat,
            photo,
        }
    }
})
</script>
<style scoped>
.chat-item {
    margin-bottom: 2%;
    /* Ajusta el valor según el espacio deseado */
}

.chat-name {
    margin-bottom: 1%;
    /* Ajusta el valor según el espacio deseado */
}

.chat-last-message {
    margin-top: 1%;
    /* Ajusta el valor según el espacio deseado */
}


.chat-list-container {
    height: 76%;
    overflow-y: auto;
}

.chat-list-container::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.chat-list-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.chat-list-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.chat-list-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.chat-list-container::-webkit-scrollbar-track:hover {
    background-color: transparent;
}
</style>