
<template>
    <div class="text-white bg-negative">
        <q-toolbar>

        </q-toolbar>
        <q-toolbar class="justify-between">
            <q-btn flat round dense icon="arrow_back" class="q-mr-sm" @click="openContact(false)" />

            <q-toolbar-title>Nuevo Chat</q-toolbar-title>
        </q-toolbar>
    </div>
    <q-toolbar class="text-white justify-end">
        <div class="col-12">
            <q-input rounded standout="bg-positive text-white" bottom-slots dense class="q-pt-sm">
                <template v-slot:prepend>
                    <q-icon name="arrow_back" color="negative" @click="text = ''" class="cursor-pointer" />
                </template>
            </q-input>
        </div>

    </q-toolbar>
    <ContactList></ContactList>
</template>

<script setup>
import ContactList from '../components/ContactList.vue';
import { defineComponent, } from 'vue';
import { setCssVar } from 'quasar'
import mapHelper from '../store/common/map-helper';
import { useStore } from 'vuex';
setCssVar('negative', '#008069')
setCssVar('positive', '#E1E1E1')
defineComponent({
    name: "NewChatOption",
})
const $store = useStore();
function openContact(isOpen) {
    $store.dispatch(mapHelper.mapmod.USER + mapHelper.mapfn.OPEN_CONTACT, isOpen);
}
</script>

<style lang="scss" scoped></style>