<template>
    <q-toolbar class="text-white justify-between">
        <q-avatar size="48px">
            <img src="../assets/cat-a.jpg">
        </q-avatar>

        <div>
            <q-btn flat round dense icon="groups" color="grey-8" />
            <q-btn flat round dense icon="motion_photos_on" color="grey-8" />
            <q-btn flat round dense icon="chat" color="grey-8" @click="openContact(true)" />
            <q-btn-dropdown flat round dense dropdown-icon="more_vert" color="grey-8">

                <q-list>
                    <q-item clickable v-close-popup @click="onItemClick">
                        <q-item-section>
                            <q-item-label>Nuevo grupo</q-item-label>
                        </q-item-section>
                    </q-item>

                    <q-item clickable v-close-popup @click="onItemClick">
                        <q-item-section>
                            <q-item-label>Nueva comunidad</q-item-label>
                        </q-item-section>
                    </q-item>

                    <q-item clickable v-close-popup @click="onItemClick">
                        <q-item-section>
                            <q-item-label>Archivados</q-item-label>
                        </q-item-section>
                    </q-item>
                    <q-item clickable v-close-popup @click="onItemClick">
                        <q-item-section>
                            <q-item-label>Mensajes destacados</q-item-label>
                        </q-item-section>
                    </q-item>
                    <q-item clickable v-close-popup @click="onItemClick">
                        <q-item-section>
                            <q-item-label>Seleccionar chats</q-item-label>
                        </q-item-section>
                    </q-item>
                    <q-item clickable v-close-popup @click="onItemClick">
                        <q-item-section>
                            <q-item-label>Configuración</q-item-label>
                        </q-item-section>
                    </q-item>
                    <q-item clickable v-close-popup @click="onItemClick">
                        <q-item-section>
                            <q-item-label>Cerrar sesión</q-item-label>
                        </q-item-section>
                    </q-item>
                </q-list>

            </q-btn-dropdown>
        </div>
    </q-toolbar>
    <q-toolbar class=" justify-end ">
        <div class="col-10">
            <q-input rounded outlined v-model="text" placeholder="Inicia un chat" dense>
                <template v-slot:prepend>
                    <q-icon name="search" />
                </template>
            </q-input>
        </div>
        <q-space />
        <div>
            <q-btn :flat="flat" rounded icon="filter_list" :color="colorFilter" dense
                @click="isFilterClick = !isFilterClick" />
        </div>
    </q-toolbar>
</template>

<script setup>
import { defineComponent, computed, ref } from 'vue';
import { setCssVar } from 'quasar'
import { useStore } from 'vuex';
import mapHelper from '../store/common/map-helper';
setCssVar('negative', '#008069')
defineComponent({
    name: 'ToolBar'
})
const $store = useStore()

const isFilterClick = ref(false);
const text = ref("");
function onItemClick() {
    // console.log('Clicked on an Item')
}
const colorFilter = computed(() => {
    return isFilterClick.value ? 'negative' : 'grey-6';
});
const flat = computed(() => {
    return !isFilterClick.value;
});

function openContact(isOpen) {
    $store.dispatch(mapHelper.mapmod.USER + mapHelper.mapfn.OPEN_CONTACT, isOpen);
}
</script>

<style lang="scss" scoped>
.no-rotate-animation .q-btn-dropdown-icon {
    animation: none !important;
}
</style>