// app global css in SCSS form
$listHeaderToolbar: #123456;

:root {
  --q-color-listheadertoolbar: $listHeaderToolbar;
}

.bg-listheadertoolbar {
  background: $listHeaderToolbar !important;
  background: var(--q-color-listheadertoolbar) !important;
}

.listheadertoolbar-text {
  color: $listHeaderToolbar !important;
  color: var(--q-color-listheadertoolbar) !important;
}
