// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #f0f2f5;
$secondary: #25d366;
$fondochat: #f8f9fa;
$barranavegacion: #ece5dd;
$textoprincipal: #212121;
$accent: #9c27b0;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
// variables propias
$listHeaderToolbar: #123456;

:root {
  --q-color-listheadertoolbar: $listHeaderToolbar;
}

.bg-listheadertoolbar {
  background: $listHeaderToolbar !important;
  background: var(--q-color-listheadertoolbar) !important;
}

.listheadertoolbar-text {
  color: $listHeaderToolbar !important;
  color: var(--q-color-listheadertoolbar) !important;
}
