<template>
  <q-layout view="lHh lpr lff">

    <q-header class="bg-primary text-black" v-if="openChat">
      <q-toolbar>
        <q-toolbar-title>
          <q-item clickable v-ripple>
            <q-item-section side>
              <q-avatar size="48px">
                <img :src="photo">
              </q-avatar>
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ name }}</q-item-label>
              <q-item-label caption class="text-black">En linea</q-item-label>
            </q-item-section>
            <q-btn flat round dense icon="search" class="q-ml-md" color="grey-8" />
            <q-btn flat round dense icon="more_vert" class="q-ml-md" color="grey-8" />

          </q-item>

        </q-toolbar-title>
      </q-toolbar>
    </q-header>



    <q-drawer show-if-above v-model="leftDrawerOpen" side="left" bordered>
      <!-- drawer content -->
      <ToolBar v-if="!openContact"></ToolBar>
      <ChatList v-if="!openContact"></ChatList>
      <NewChatOption v-if="openContact"></NewChatOption>
    </q-drawer>

    <q-page-container>
      <MessagePage v-if="openChat"></MessagePage>
      <DefaultPage v-if="!openChat"></DefaultPage>
    </q-page-container>

  </q-layout>
</template>

<script>
import { ref, computed } from 'vue'
import ToolBar from '../components/ToolBar.vue';
import ChatList from '../components/ChatList.vue';
import NewChatOption from '../components/NewChatOption.vue';
import MessagePage from '../pages/MessagePage.vue';
import DefaultPage from '../pages/DefaultPage.vue';
import { useStore } from 'vuex';
export default {
  components: {
    ToolBar,
    ChatList,
    NewChatOption,
    MessagePage,
    DefaultPage,
  },
  setup() {
    const $store = useStore()
    const leftDrawerOpen = ref(true)
    const leftDrawerWidth = ref('50rem')
    const NewChatFlat = ref(false);
    const name = computed(() => $store.state.user.name);
    const openChat = computed(() => $store.state.user.openChat);
    const openContact = computed(() => $store.state.user.openContact);
    const profile_picture = computed(() => $store.state.user.profile_picture);
    const photo = computed(() => {
      if (profile_picture.value != null || typeof profile_picture.value != 'object') {
        return profile_picture.value;
      } else {
        return 'src/assets/default_user.jpg';
      }
    });
    return {
      leftDrawerOpen,
      leftDrawerWidth,
      NewChatFlat,
      name,
      photo,
      openChat,
      openContact,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value
      }
    }
  }
}
</script>
<style lang="scss" scoped></style>